* {
    text-decoration: none;
    box-sizing: border-box;
    text-decoration: none;
}

.nav {
    background-color: white;
    box-shadow: 10px 10px 90px rgb(163, 163, 163);
    height: 50px;


}


.nav1 {
    text-align: center;
    margin-left: 300px;
}


/* ***************sec1******************** */

.sec1 {
    margin-left: 30px;
    margin-right: 50px;
    height: 200px;
}

.cardtx {
    text-align: center;
    font-size: 30px;
    font-weight: 500;

}

.cardbtn {
    margin-left: 50px;
    margin-right: 50px;
    border: 2px solid black;
    background-color: white;
}

.sec2 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.secc2 {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}

.secc3 {
    text-align: center;
    font-size: 20px;
    color: rgb(89, 89, 89);
}

.box1 {
    width: 90%;
    border: 2px solid rgb(191, 191, 191);
    height: 700px;
}

.box2 {
    width: 90%;
    border: 2px solid rgb(191, 191, 191);
    height: 400px;
}

.box3 {
    width: 90%;
    border: 2px solid rgb(191, 191, 191);
    height: 872px;
}

.box4 {
    font: 1em sans-serif;
    width: 90%;
    border: 2px solid rgb(191, 191, 191);
    height: 380px;
    margin-top: 80px;
}

.box1-text {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.box1-text1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
}

.box1-text2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 540;
    color: gray;
}

.box1-text3 {
    text-align: center;
    margin-top: 20px;
    color: rgb(53, 53, 53);
}

.box1-text4 {
    width: 50%;
    height: 40px;
    border: 2px solid black;
    color: black;
    text-align: center;
    margin-left: 80px;
    margin-right: 50px;
    margin-top: 60px;
    transition: 2s;
}

.box1-text4:hover {
    color: white;
    width: 50%;
    height: 40px;
    background-color: black;
    text-align: center;
    transition: 2s;
}

.box1-t {
    text-align: center;
    font-family: monospace;
    font-size: 20px;
}

.box2-text1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.box2-text2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.box2-text3 {
    text-align: center;
    color: gray;
    font-size: 17px;
}

.box3-text1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 30px;
    font-size: 20px;
    font-weight: 550;
}

.box3-text2 {
    margin-left: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray;
}

.sec3 {
    text-align: center;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 29px;
}

.sec3-tx {
    font-size: 16px;
    color: rgb(65, 65, 65);
}

.sec3-tx2 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sec3-img {
    width: 50%;
    float: left;
    margin-top: 70px;
}
.siderText1{
    font-size: 25px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.sec3-img1 {
    width: 50%;
    float: left;
}

.footer {
    color: gray;
    font-weight: 500;
    text-align: center;
    font-style: italic;

}

.foot1 {
    text-align: center;
    margin-top: 80px;
    /* margin-left: 50px;
    margin-right: 50px; */
    height: 200px;
}


.footbx {
    width: 60%;
    height: 50px;
    border: 2px solid black;
    margin-left: 70px;
    transition: 2s;
    margin-right: 50px;
    margin-top: 50px;
}
.inf{
    text-decoration: none;
    color: gray;
}
.inf:hover{
    text-decoration: underline;
    color: brown;
}

.footbx1 {
    width: 60%;
    height: 50px;
    background-color: black;
    margin-left: 70px;
    margin-right: 50px;
    transition: 2s;
    margin-top: 50px;
}

.footbx:hover {
    width: 60%;
    height: 50px;
    background-color: black;
    color: white;
    margin-left: 70px;
    margin-right: 50px;
    margin-top: 50px;
    transition: 2s;
}

.footbt {
    text-align: center;
    padding: 10px;
    color: black;
}

.footbt1 {
    text-align: center;
    padding: 10px;
    color: white;
}
.footbt:hover{
    color: white;
}
.footbt1:hover {
    width: 60%;
    height: 50px;
   color: rgb(160, 195, 196);
   font-weight: 800;
   border: 2px solid black;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    transition: 2s;
    text-decoration: none;
}

.icon{
    margin-left: 30px;
    font-size: 40px;
    margin-top: 90px;
    color: black;
}
.icon1{
    margin-left: 60px;
}
.icon:hover{
    color: brown;
}

@media only screen and (max-width: 771px) {
    .box2 {
        margin-top: 30px;
        height: 500px;
    }

    .box4 {
        margin-top: 30px;
        height: 500px;
    }

    .box3 {
        margin-top: 90px;
    }

    .sec3-img {
        width: 100%;
    }

    .sec3-img1 {
        width: 100%;
    }


    .footer {
        margin-top: 80px;
    }

    .footbx1 {
        margin-left: 100px;
    }

    .footbx {
        margin-left: 100px;
    }
}
